:root{    
    
    --orange-dark:#d85c27;
    --red-light:#ed0000;
    --white:#fff;
    --gradient: rgba(#ed0000, #000000, 0.8);    
  }

  h1, h3{
    font-family: 'DM Serif Text', serif;
  }
  h1{
    font-size: 4rem;
    color: var(--white);
  }
  p{
    font-family: 'Montserrat', sans-serif;
  }
.container{
  max-width: 992px;
}
  nav{
    position: fixed;
    z-index: 101;
  }

  .navbar-brand img{
    height: 80px;
    background-color: var(--red-light) !important;
  }

  .nav-link, .material-symbols-outlined{
    font-size: 1.2rem;
    border-radius: 10px;
    color: var(--red-light) !important;
  }
   
  .btn-outline{
    border-color: var(--red-light);
  }

  .dropdown-menu{    
    background: var(--red-light);
  }

  /* Hero section ------------------------------ */
  #hero{   
    position: relative;         
    background-image:linear-gradient(to bottom, #ed0000,#000);      
    }
  .img-hero img{
    overflow: hidden;
    display: inline-block;
    max-width: 100%;
    /* background-size: cover; */
  }
  .text-hero-content{
    justify-content: space-between;    
    align-items: center;
  }
  .description{
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: rgb(185, 185, 185);
    text-align: center;
    font-weight: 600;
  }
  .text-hero h1{
    text-align: center;
  }
  .text-hero p{
    color: var(--white);
    text-align: center;
    
  }
  .btn{
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 1.5px;
  }


  /* About secgion */
  #about{
    margin: 40px 0;
  }
  .story{
    color: #000;
    font-size: 3rem;
    text-align: center;
    margin-top: 2rem;
  }
  .story-text{
    padding: 10px 40px;
  }
  .dugme a{
    text-decoration: none;
    color: #a25f4b;    
  }
  .dugme .line, .dugme a{   
    transition: all 0.5s;
  }
  .dugme:hover .read{
    color: #3b261f;
  }
  .line{
    width: 100px;
    height: 2px;
    background-color: rgba(162, 95, 75, 0.3);
    margin-bottom: 20px;
  }
  .dugme:hover .line{
    background-color: rgba(162, 95, 75, 0.8);
  }

  /* Parallax */
  .parallax{
    height: 340px;
    margin-bottom: 100px;
    background-image: url(/img/UNADJUSTEDNONRAW_thumb_33ea.jpg);
    background-position: 50% 50%;
    background-size: cover;
    background-attachment: fixed;
  }
  
  /* Our Products */
  .short-line{
    height: 2px;
    width : 50px;
    background-color: rgba(162, 95, 75,0.4);
  }
  .card{
    border: none !important;
    box-shadow: 4px 4px 12px -3px rgba(162, 95, 75, 0.3);
  }
  